<template name="mainlist">
        <div class="ui items">
            <!-- {{#if searchedContents}}
            <div class="ui divider"></div>
            <div class="ui large centered inline text loader">
                Adding more content...
            </div>
    
            {{else}}
            <div class="ui container fluid">
                <h3>There is no content in your language today</h3>
            </div>
            {{/if}} -->
            {{#if steemStemContent}}
                    {{#each steemStemContent}}
                    {{>post}}
                    <div class="ui divider"></div>
                    {{/each}}
            {{else}}
                    {{#if equals currentSearch 'steemstem'}}
                    <div class="ui container">
                            <div class="ui segment grid padded centered fluid borderless" style="height: 600px;">
                                    <div class="ui active dimmer inverted">
                                            <h4 class="ui text loader">Loading...</h4>
                                        </div>
                            </div>
                        </div>
                    {{else}}
                    <div class="ui container">
                        <div class="ui segment grid padded centered fluid borderless">
                            <h3>There is no content related to "{{currentSearch}}" in your language today</h3>
                        </div>
                    </div>
                    {{/if}}
            {{/if}}
        </div>
    </template>