<template name="sidebar">
  <div class="ui sidebar inverted vertical menu">
    <div class="item">
      <img class="ui fluid small image" src="./images/banner/steemstemlogoback.png">
    </div>
    <a id="feed" href="/" class="item"><i class="home icon"></i> Home</a>
    <div class="item">
      {{#with guestuser}}<i href="#!/{{guestuser}}"></i>Welcome, {{guestuser}}{{/with}}
      {{#with mainuser}}
        Welcome, {{name}}
        <div class="ui inverted vertical menu">
          <a id="blog" href="#!/@{{name}}" class="item"> <i class="user icon"></i>My Blog</a>
          <a id="comments" href="#!/@{{name}}/comments" class="item"> <i class="comment icon"></i>Comments</a>
          <a id="replies" href="#!/@{{name}}/replies" class="item"> <i class="comments icon"></i>Replies</a>
          <a id="rewards" href="#!/@{{name}}/rewards" class="item"> <i class="trophy icon"></i>Rewards</a>
          <a id="wallet" href="#!/@{{name}}/wallet" class="item"> <i class="credit card outline icon"></i>Wallet</a>
        </div>
      {{/with}}
    </div>
    {{#with mainuser}}<a href="/create" class="item"><i class="pencil icon"></i> New post</a>{{/with}}
    {{#unless mainuser}}
      <a class="item" id="login" href='/signup'>{{translator 'COMMON_LOGIN'}}</a>
      <a class="item" id="signup" href="/signup.steemit.com" target="_blank">{{translator 'COMMON_SIGNUP'}}</a>
      {{#if guestuser}}
        <a class="item" id="guest-logout">Quit Guest Mode</a>
      {{else}}
        <a class="item" id="guest-login">Continue as Guest</a>
      {{/if}}
    {{/unless}}
        <div class="item">
            {{bindsearch}}
            <div class="ui right aligned category search item">
                <div class="ui transparent inverted icon input">
                    <input class="prompt" type="text" placeholder="Search ...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        {{#with mainuser}}
        <a class="item" id="logout">
            <i class="external icon"></i> {{translator 'COMMON_LOGOUT'}}
        </a>
        {{/with}}

        <div class="item">
            Categories
            <div class="ui divider"></div>
            {{#each customTags}}
            <div>
                <a href="/{{category}}" id="tag">#{{category}}</a>
            </div>
            {{/each}}
        </div>
        <a class="item about" href="/aboutus">About Us</a>
        <a class="item faq" href="/faq">FAQ</a>
        <a class="item tos" href="/tos">Terms of Service</a>
        <div class="item" style="    position: absolute;
        bottom: 0px;"> Supported by <div><a target="_blank" href="https://utopian.io"> Utopian<img style="margin-bottom: -4px;"
                        width="16" height="16" src="./images/utopian.png"></a></div>
            <div><a target="_blank" href="https://fundition.io"> Fundition <img style="    border-radius: 20px;margin-bottom: -2px;" width="12"
                        height="12" src="./images/fundition.png"></a></div>
                        <div><a target="_blank" href="http://curiesteem.com/"> Curie <img style="    border-radius: 20px;margin-bottom: -2px;" width="12"
                            height="12" src="./images/curie.jpg"></a></div>
        </div>
    </div>

</template>
