/* ------- Global ------- */
.site{
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

/*Header*/
#main-header {
	max-height: 25%;
}
/*Top Banner*/

.ui.banner.fluid.image {
	height: 0px !important;
	width: 100% !important;
	object-fit: cover;
  }
  .ui.grid.logo{
	  min-width: 180px;
  }
  .top.cat {
    /* font-size: 0.8em!important; */
}

.upvote.popup{
	min-width: 200px;
}

.item.mn {
	min-width: 72px;
	padding: 0.92857143em 1.8285714em!important;
}


  .text.cat{
	text-transform: uppercase!important;
}

.item.cat{
	text-transform: uppercase!important;
}


/*Top Menu*/
.main.menu {
	margin-top: 0em;
	height: 60px;
	border-radius: 0;
	border: none;
	border: 1px solid #DDD;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	transition:
  	box-shadow 0.5s ease,
  	padding 0.5s ease;
}

.main.menu.inverted {
	left: 0px!important;
}

.main.menu .item img.logo {
	margin-right: 0.1em;
}

.overlay {
	float: left;
	margin: 0em 3em 1em 0em;
}

.overlay .menu {
	position: relative;
	left: 0;
	transition: left 0.5s ease;
}

.main.menu.fixed {
	border: 0px solid #DDD;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
	z-index: 9999!important;
}

.overlay.fixed .menu {
	left: 800px;
}

.text.container .left.floated.image {
	margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
	margin: 2em -4em 2em 2em;
}

/* -------Global main ------- */
.global-content {
  flex: 1;
}

.ui.category.search .results {
    width: 180px;
    left: -14px;
}

.ui.image.post{
    height: 120px!important;
    object-fit: cover;
}

.ui.image.profile{
    height: 160px!important;
    object-fit: cover;
}

.header.item.post{
    font-size: 1em!important;
    max-height: 2.7em;
    overflow: hidden;
}

.ui.sidebar.visible ~ .pusher {
    width: calc(100%);
}

blockquote{
    background: #091420;
    margin: 0px 0px 5px;
    padding: 20px;
    color: white;
    font-style: italic;
    display: -webkit-box;
    border: 2px solid #01b5ad;
    border-radius: 5px;
}

blockquote::before { 
    content: "\"";
}

blockquote::after { 
    content: "\"";
}

.content .header{
    font-size: 1em!important;
    max-height: 2.6em;
    overflow: hidden;
}

.description.post.v{
	max-height: 100px;
	overflow: hidden;
}

.ui.menu .ui.dropdown .menu > .item{
	text-transform: uppercase!important;
}

.ui.cards > .card > .content > .header:not(.ui), .ui.card > .content > .header:not(.ui){
    font-size: 1em!important;
    max-height: 2.6em;
    overflow: hidden;
}

.item.steemstem.teal{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #00b5ad;
}

.item.steemstem.blue{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #2185d0;
}

.item.steemstem.olive{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #b5cc18;
}

.item.steemstem.green{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #21ba45;
}

.item.steemstem.red{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #db2828;
}

.item.steemstem.orange{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #f2711c;
}

.item.steemstem.yellow{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #fbbd08;
}

.item.steemstem.pink{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #e03997;
}

.item.steemstem.purple{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #e03997;
}

.item.steemstem.violet{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #502aa1;;
}

.item.steemstem.brown{
	text-transform: uppercase;
	box-shadow: inset 0px -4px #a5673f;;
}

.item.steemstem.teal.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #00b5ad;
}

.item.steemstem.blue.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #2185d0;
}

.item.steemstem.olive.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #b5cc18;
}

.item.steemstem.green.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #21ba45;
}

.item.steemstem.red.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #db2828;
}

.item.steemstem.orange.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #f2711c;
}

.item.steemstem.yellow.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #fbbd08;
}

.item.steemstem.pink.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #e03997;
}

.item.steemstem.purple.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #e03997;
}

.item.steemstem.violet.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #502aa1;;
}

.item.steemstem.brown.actived{
	text-transform: uppercase;
	background:#030f1c;
	box-shadow: inset 0px -7px #a5673f;;
}

.card{
	cursor: pointer;
}

.card .ui.label{
	margin: 0em!important;
}

.extra.post {
    position: absolute;
    bottom: 10px;
    width: 92%;
}
img{
	max-width: 100%;
}

.ui.segment{
	max-width: 100%;
	word-wrap: break-word;
}

.ui.comments .comment .comments{
	padding: 0px!important;
}

.ui.grid > .ui.grid:last-child {
    margin-bottom: 3.5em!important;
}

.ui.steemit.icon{
	background: #06D6A9;
}

.ui.steemit.button{
	background: #06D6A9;
}

/* ------- Footer ------- */


/*Helpers*/


.ui.dropdown.chooselanguage.inverted .menu{
	background: #09141f!important;
}

.ui.image.banner.logo  {
	position: absolute;
    top: 15px;
    left: calc(25% - 70px);
    height: 118px;
  }


  .ui.comments .comment .actions{
	  margin-bottom: 10px;
  }

  .ui.comments .comment .avatar{
	display: block;
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin: 0.2em 0em 0em;
  }

  .ui.comments .comment img.avatar, .ui.comments .comment .avatar img {
    display: block;
    margin: 0em auto;
    width: 100%;
    height: 100%;
    border-radius: 2.25rem;
    object-fit: cover;
}

div .pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
}

div .pull-right {
    float: right;
    padding-left: 1rem;
    max-width: 50%;
}

div .text-justify{
	text-align: justify!important;
}

div iframe{
    width: 100%!important;
}

.shorter{
	max-height: 35px;
	overflow: hidden;
}

.message.logout{
	margin-left: 10px;
}

.little.image{
    width: 80px;
    /* height: 32px; */
    object-fit: cover;
}