<template name="reply">
  <div class="actions">
    {{#if ../permlink}}
      <!-- The reply button (different for root replies and replies to comment) -->
      {{#if isroot}}
        <a class="reply-action action-{{../permlink}}">
          <div id='reply-button-{{../permlink}}' class="ui mini button teal floated">Reply</div>
        </a>
      {{else}}
        <a class="reply-action action-{{../permlink}}">
          <div id='reply-button-{{../permlink}}' style="margin:5px" class="ui basic mini button teal">Reply</div>
        </a>
      {{/if}}

      <!-- Form with the reply textarea -->
      <form class="ui reply-{{../permlink}} form replyform">
        <i class="window close outline icon"></i>
        <div class="field"><textarea id="reply-content-{{../permlink}}" placeholder="Add reply here..."></textarea></div>
        <!-- preview part -->
        <h3 class="ui header">Preview</h3>
        <div class='content'>
          <div class="description">
            {{#markdown}} {{{DisplayReplyBody}}} {{/markdown}}
          </div>
        </div>

        <!-- Button to add the reply -->
        <div class="ui divider"></div>
        <div id="submit-comment" class="ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Reply
        </div>
      </form>
    {{else}}
      {{#with currentArticle}}
        {{>reply data=this isRootComment=false}}
      {{/with}}
    {{/if}}
  </div>
</template>
