<template name="reply">
  <div class="actions">
    {{#if ../permlink}}
      {{#if isroot}}
        <a class="reply-action action-{{../permlink}}"><div class="ui mini button submit teal floated">Reply</div></a>
      {{else}}
        <a class="reply-action action-{{../permlink}}"><div style="margin:5px" class="ui basic mini button submit teal">Reply</div></a>
      {{/if}}
        <form class="ui reply-{{../permlink}} form replyform">
            <i class="window close outline icon"></i>
            <div class="field">
                <textarea id="reply-content-{{../permlink}}"></textarea>
            </div>
            <div id="submit-comment" class="ui primary submit labeled icon button">
                <i class="icon edit"></i> Add Reply
            </div>
        </form>
        {{else}}
        {{#with currentArticle}}
            {{>reply data=this isRootComment=false}}
        {{/with}}
        {{/if}}
    </div>
</template>
