<template name="post">
	<div class="ui card {{colorfromcategory json_metadata.tags}}">
		<div class="extra content">
			<img class="ui avatar image" src="https://steemitimages.com/u/{{author}}/avatar"> {{#if isWhitelisted author}}
			<a id="user" href="/#!/@{{author}}"> {{author}} </a>
			<i class="ui icon check green"></i>
			{{else}}
			<a id="user" href="/#!/@{{author}}"> {{author}} </a>
			{{/if}}
			<span class="right floated">
				<i class="clock outline icon"></i> {{DisplayTimeFrom created}}
			</span>
		</div>
		<div class="image">
			{{#if imgFromBody this}}
			<img class="ui image post" data-src="{{imgFromBody this}}"> {{/if}}
		</div>
		<div class="content">
			<a class="header item post">{{title}}</a>
			<p class="description post v {{permlink}} ">
				{{shortDescription (xssShortFormatter (remarkableFormatter body))}}
			</p>
		{{>upvote}}
		</div>
		<div class="extra content">
			<div class="ui large transparent left icon input">
				{{>share}}
			</div>

		</div>
	</div>
</template>